body {
  background-color: #FBE9E7;
  font-family: 'Raleway';
  margin-top: 10%;
  
  background-image: linear-gradient(to bottom, rgb(219, 68, 55) 25%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 100%, rgb(4, 120, 21) 100%);
}

h2 {
  font-size: 5vh;
}

h3 {
  font-size: 3vh;
}

p,
span {
  font-size: 2.2vh;
}

span {
  color: red;
}

.form-data {
  position: relative;
  margin: 0 auto;
  padding: 2em;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-top: 0.5em solid #F98B82;
  width: 45em;
  max-width: 90%;
  height: auto;
}

.form-data input {
  padding: 0.6em;
  font-size: 2vh;
  border: none;
  border-bottom: 0.1em solid #E0E0E0;
  outline: none;
}

.form-data input:focus {
  border-bottom: 0.2em solid #DB4437;
  transition-property: border-color;
  transition-duration: 0.5s;
  -webkit-transition-property: border-color;
  -webkit-transition-duration: 0.5s;
  -o-transition-property: border-color;
  -o-transition-duration: 0.5s;
  -moz-transition-property: border-color;
  -moz-transition-duration: 0.5s;
}

.form-data__your-name input[name='your-name'] {
  box-sizing: border-box;
  width: 50%;

}

.form-data__final-area {
  margin-top: 1em;
}

.form-data__final-area progress {
  border-radius: 12em;
  width: 25%;
  float:right;
}
